doctype html
html
  head
    block head
    include meta
    block fb_meta
    include css
    block neck

  body(style='background-color:#fff', id='top')
    include navbar_v2
    block heading

    block body

    include footer
    
    include js

    block feet

    script(src='#{cdnServer}/js/main_iptv.js?20140821')