doctype html
html
  head
    block head
    include meta
    block fb_meta
    include post_css
    block neck

  body(style='background-color: #fff')
    block body

    //include footer
    include post_js

    block feet