doctype html
html
  head
    block head
    include meta
    block fb_meta
    include post_css
    block neck

  body(style='background-color: #fff')
    include navbar_post
    block body

    //include footer
    include post_js

    block feet

.footer.bottom-menu
  .container
    .row
      .col-md-2
      .col-md-8

    .row
      .col-md-2
      .col-md-8.text-center
        //p Copyright (C) 2014 MokoVersity. All rights reserved.
      .col-md-2
