div#back-top.hide
  a(href='#top')
    i.fa.fa-chevron-up

div#footer
  .container
    .row
      .col-md-4
        h3 About Mokoversity
        p Mokoversity is a hackers lead pre-startup school and a social enterprise. We develop talent and create the entrepreneurial circle in hacker way. Mokoversity is the new alternative of MBA.
        ul.icons
          li
            i.fa.fa-envelope
            | contact@moko365.com
          li
            i.fa.fa-facebook
            a(href='http://www.facebook.com/mokoversity', rel='nofollow') Facebook page
      .col-md-4
        h3 About Seeed Studio
        p
          | Seeed is a hardware innovation platform for makers to grow inspirations into differentiating products. By working closely with technology providers of all scale, Seeed provides accessible technologies with quality, speed and supply chain knowledge. 
        ul.icons
          li
            i.fa.fa-share-alt
            a(href='http://www.seeedstudio.com', target='_blank', rel='nofollow') Seeed Studio
      .col-md-4
        h3 About mbed Taiwan
        p
          | ARM mbed community and IoT interests group.
        ul.icons
          li
            i.fa.fa-share-alt
            a(href='http://mbed.tw', target='_blank', rel='nofollow') mbed Taiwan
          li
            i.fa.fa-github
            a(href='https://github.com/mbed-taiwan', target='_blank', rel='nofollow') mbed Courseware

  #copyright
    .row
      .col-md-12
        p(style='line-height: 25px;') Copyright (C) 2015 Mokoversity Inc. All rights reserved.
          br
          | All trademarks are the property of their respective owners.