div#back-top.hide
  a(href='#top')
    i.fa.fa-chevron-up

div#footer
  .container
    .row
      .col-md-4
        h3 About Mokoversity
        p Mokoversity is a hackers lead pre-startup school and a social enterprise. We develop talent and create the entrepreneurial circle in hacker way. Mokoversity is the new alternative of MBA.
        |                   
        ul.icons
          li
            i.fa.fa-envelope
            | contact@moko365.com
          |                                          
          li
            i.fa.fa-facebook
            a(href='http://www.facebook.com/mokoversity', rel='nofollow') Facebook page
      |                
      .col-md-4
        h3 About Seeed Studio
        |                   
        p
          | Seeed is a hardware innovation platform for makers to grow inspirations into differentiating products. By working closely with technology providers of all scale, Seeed provides accessible technologies with quality, speed and supply chain knowledge. 
        |                   
        ul.icons
          li
            i.fa.fa-share-alt
            a(href='http://www.seeedstudio.com', target='_blank', rel='nofollow') Seeed Studio
      .col-md-4
        h3 More information
        .book
          ul.bookextra
            li
              a(href='/farm') Mokoversity farm team, the pre-startup camp
            li
              a(href='/coders') Everyone should learn to code (in Chinese)
            li
              a(href='/makers') Everyone should be a maker (in Chinese)
            //-li
            //-  a(href='http://mbed.tw', target='_blank') mbed Taiwan, physical web fullstack developer

  #copyright
    .row
      .col-md-12
        p Copyright (C) 2014-2015 Mokoversity Inc. All rights reserved.