header.header-10
  .container
    .navbar.col-md-12
      .navbar-inner
        .navbar-header
          a.brand(href='/') Mokoversity One
        .navbar-collapse.collapse.pull-right
          ul.nav.navbar-nav
            li: a(href='/')
              span.fa.fa-home