extends ../layout/default_course

block head
  title System Alert

block neck

block feet

block body
  
  .coming2(style='margin-bottom: -70px; padding-bottom: 80px;')
    section.wrap-coming2.animated.fadeInDown.animation-delay-3
      .container
          .row
            .col-md-6.animated.fadeInDown.animation-delay-6
              h1 太巧了，真的太巧了...
              p
                | 你正好遇到 Mokoversity 的 Software Update。不過放心，軟體升級只需要 3 秒鍾！當你看完這個訊息時，己經升級完成了。請繼續逛網站吧 :-)
              p
                | Mokoversity.com 每天都有 2~3 次的更新中。這表示我們正在努力不懈地開發 Backend 中。
            .col-md-6.animated.bounceInRight.animation-delay-9.coming2-count
              h2
                span 升級需要
              .coming-time
                .coming-box-time.animated.bounceInDown.animation-delay-12
                  span 3
                  | 秒